In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([10,20,30,40])

In [3]:
print(s)

0    10
1    20
2    30
3    40
dtype: int64

In [4]:
data = {"Math": 90, "Physics": 85, "Chemistry": 88}

In [5]:
marks = pd.Series(data)

In [6]:
print(data)

{'Math': 90, 'Physics': 85, 'Chemistry': 88}

In [7]:
print(marks)

Math         90
Physics      85
Chemistry    88
dtype: int64

DataFrame in pandas

In [8]:
data = {
    "Name" : ["Aman" , "Krish" , "Karan"],
    "Age" : [22,23,21],
    "Marks" : [85,90,88]
}

In [9]:
print(data)

{'Name': ['Aman', 'Krish', 'Karan'], 'Age': [22, 23, 21], 'Marks': [85, 90, 88]}

In [10]:
type(data)

dict

In [11]:
marks = pd.DataFrame(data)

In [12]:
print(marks)

    Name  Age  Marks
0   Aman   22     85
1  Krish   23     90
2  Karan   21     88